.image{
    background-image: url(https://imgnike-a.akamaihd.net/360x360/01648755.jpg);
    width: 100vw;
    height: 100vw;
    background-size: 100vh;
}

.cover-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cover{
    margin-top: 25%;
    

}

.lead{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
}